@import models.gnote.dao._
@(id:Int)

<!--<table class="table table-condensed">-->
<div class="container-fluid">
  @for(c <- ViewDao.getContent(id)){
  <div class="row ">
    <div class="col-lg-1">
      <pre>@c.id </pre>
    </div>
    <div class="col-lg-5">
      <pre>@c.content_1</pre>
    </div>
    <div class="col-lg-5">
      <pre>@c.content_2</pre>
    </div>
    <div class="col-lg-1">
      @editContent(c)
    </div>
  </div>
  <!--<td>-->
  <!--<pre>c.content_1</pre>-->
  <!--</td>-->
  <!--<td>-->
  <!--<pre>c.content_2</pre>-->
  <!--</td>-->
  <!--<td>-->
  <!--edit.content.update(c.id)-->
  <!--<a href="routes.gNote.delete_content(c.id)">删除</a>-->
  <!--</td>-->
  <!--</tr>-->
  }
</div>
<!--</table>-->