@(doc:String)
<meta charset='utf8' />
<script src='@routes.Assets.versioned("javascripts/gnote/epiceditor.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/gnote/jquery-2.2.2.min.js")' type="text/javascript"></script>
<head></head>
<div style='display:none' id="show_optimization">
  <div id='epiceditor'></div>
  <textarea style='display:none' id='epiceditor_textarea'>@doc</textarea>
</div>
<script>
var opts ={
        container: 'epiceditor',
        textarea: 'epiceditor_textarea',
        basePath: '/assets/stylesheets/gnote',
        clientSideStorage: false,
        autogrow:{ minHeight:1 },
        button: {
           bar: false
       }
    }
var editor = new EpicEditor(opts).load();
previewer = editor.getElement('previewer');
var mathjax = previewer.createElement('script');
mathjax.type = 'text/javascript';
mathjax.src = 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default';
previewer.body.appendChild(mathjax);
var config = previewer.createElement('script');
config.type = 'text/x-mathjax-config';
config.text = "MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']], displayMath: [['$$','$$']], processEscapes:!0}});";
previewer.body.appendChild(config);
editor.preview();
editor.on('preview', function() {
    editor.getElement('previewerIframe').contentWindow.eval(
        'MathJax.Hub.Queue([\"Typeset\",MathJax.Hub]);');
});
$("#show_optimization").show();
</script>
